flask
gevent
gunicorn
sqlalchemy
flask-sqlalchemy
psycopg2
flask-migrate
requests
flask-migrate
functools32
combomethod
python-dateutil
Flask-Mail
# flask-marshmallow
# marshmallow-sqlalchemy
flask-cors
nltk
boto3
Flask-OAuthlib
google-api-python-client
