{% extends "apply_layout.html" %}
{% block body %}

<h1>Something went wrong</h1>
<h2>Your application is not lost</h2>

<div>
  <p>I'm sorry, but something broke when the code I wrote tried to process your application.</p>

  <p>I know how much work it is to fill out the application, so the system (1) saves the application even when there's a problem and (2) emails me to let me know something went wrong.</p>

  <p>I really do get emailed - and respond - when this happens.  That said, you're welcome to email me directly if you're worried, want to share other details, etc.  My direct email address is <a href="mailto:dan.grigsby@wildflowerschools.org">dan.grigsby@wildflowerschools.org</a>.</p>

  <p>- Dan Grigsby</p>

  <img src="static/img/dan.jpg" />
</div>

{% endblock %}
