{% extends "layout.html" %}
{% block body %}
<img src="static/img/logo.png" width="250"/>

<h1>Congratulations!</h1>

<div>
  You have completed you application for:

  {% for child in application.children %}
    <div>{{ child.first_name }} {{ child.last_name }}</div>

    TODO HERE EACH SCHOOL
  {% endfor %}
</div>


<div>
  You should receive an email in your inbox with next steps for each school you applied to - if you don't, please email <a href="mailto:admissions@wildflowerschools.org">admissions@wildflowerschools.org</a>.</div>

<div>Thank you for your interest in Wildflower! We look forward to getting to know your family.</div>

{% endblock %}
