{% extends "layout.html" %}
{% block body %}

<div>
  Thank you for applying to {{ school.name }}! We look forward to getting to know you and your family better.
</div>


<div>
  We'd like to schedule
  {% if school.schedule_child_visit_url %}
    a time for you to observe the school, a time for you to sit down and have a conversation with our school leaders and a time for your child to visit the classroom.
  {% else %}
    a time for you to observe the school and a time for you to sit down and have a conversation with our school leaders.
  {% endif %}
  We know choosing a learning environment for your child is a big decision. Through this process, you’ll have the opportunity to better understand Wildflower’s principles and practices, meet our teachers and ask any questions you may have.

</div>

<div>Your actions:</div>
<ol>
  {% if school.schedule_parent_observation_url %}
    <li>
      Please <a href="{{ school.schedule_parent_observation_url }}">click here</a> to schedule your parent observation.
      If you’ve already observed, you don’t need to complete this step.
    </li>
  {% endif %}
  {% if school.schedule_parent_teacher_conversation_url %}
    <li>
      Please <a href="{{ school.schedule_parent_teacher_conversation_url }}">click here</a> to schedule your follow-up conversation.
      Please schedule this appointment to follow your parent observation appointment.
      If you’ve already had your follow-up conversation, you don’t need to complete this step.
    </li>
  {% endif %}
</ol>

<div>Best,</div>

<div>{{ school.name }}<div>

{% endblock %}
