{% extends "layout.html" %}
{% block body %}

<div>
  Thank you for your interest in Wild Rose, we're looking forward to meeting you.
</div>

<div>
  The admissions process includes a parent visit and

  {% if children|length == 1 %}
    a child visit.
  {% else %}
    a visit for each of your children.
  {% endif %}

  The parent visit is a time for you to observe the classroom and to sit down and have a conversation with our school leaders.
  The student visit is a time for your child to visit the classroom.
</div>

<div>
  We know choosing a learning environment for your child is a big decision.
  Through this process, you’ll have the opportunity to better understand our principles and practices, meet our teachers and ask questions.
  Some parents choose to wait to schedule the student visit after they have observed and determined that Wild Rose is a good match for their family.
</div>

{% set age_on_date = "9/1" %}

<div>Your actions:</div>
<ol>
    <li>
      Please <a href="{{ school.schedule_parent_observation_url }}">click here</a> to schedule your observation (parents only).
      If you’ve already observed, you don’t need to complete this step.
    </li>

    {% for child in children %}
      <li>
        {% if child.age_on(age_on_date) >= 7 %}
          Please <a href="https://calendly.com/wild-rose-appointments/child-visit-full-day">click here</a>
          to schedule a full-day class visit for {{ child.first_name}}.  This is a great way to experience a typical day at Wild Rose.
        {% elif child.age_on(age_on_date) >= 5 %}
          Please <a href="https://calendly.com/wild-rose-appointments/child-visit-half-day">click here</a>
          to schedule a half-day class visit for {{ child.first_name}}.  This is a great way to experience a typical day at Wild Rose.
        {% else %}
          Please <a href="https://calendly.com/wild-rose-appointments/child-visit-after-school">click here</a>
          to schedule a fifteen minute visit for {{ child.first_name}} to meet our teachers when school is not in session.
        {% endif %}
        If {{ child.first_name}} has already visited, you don’t need to complete this step.
      </li>
    {% endfor %}


</ol>

{% if children|length > 1 %}
  <div>
    Your children are welcome to visit on the same day.
  </div>
{% endif %}


<div>Best,</div>

<div>{{ school.name }}<div>

{% endblock %}
