{% extends "layout.html" %}
{% block body %}

{% for page in survey.pages %}
  {% if page.show_for(response) %}
    <h3>{{ page.title }}</h3>
    {% for question in page.questions %}
      {% if question.show_for(response) %}
        <h4>{{ question.text }}</h4>
        <div>
          {% for answer in response.answers_for(question.id) %}
            {{ answer }}<br>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<h3>This application is also available in Transparent Classroom.</h3>

{% endblock %}
